name: Release
on:
  release:
    types: [published]
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        files: |
          score-v1b1.json
